/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\000036}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\0000396}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\00003109}}
body {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\00003112}}
ol,
ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\00003116}}
blockquote,
q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\00003120}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_reset\.scss}line{font-family:\00003127}}
table {
  border-spacing: 0;
  border-collapse: collapse; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\000035}}
html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\000039}}
body {
  height: 100%;
  margin: 0 auto;
  background: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000318}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jester';
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000327}}
h2 {
  font-family: 'Jester';
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000336}}
p {
  margin-bottom: 1.5em;
  font-size: 16px;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000343}}
img {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000347}}
a {
  color: #08c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000351}}
em {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000355}}
strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000359}}
.container {
  min-height: 100%;
  margin-bottom: -56px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000364}}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_document\.scss}line{font-family:\0000369}}
  .content::after {
    content: '';
    display: block;
    margin-bottom: 56px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_utilities\.scss}line{font-family:\000031}}
.u--padding-left {
  padding-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_utilities\.scss}line{font-family:\000035}}
.u--padding-right {
  padding-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-2up\.scss}line{font-family:\000031}}
.col-2up {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_mixins\.scss}line{font-family:\000033}}
  .col-2up:after {
    content: '';
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-2up\.scss}line{font-family:\000035}}
.col-2up__column {
  float: left;
  width: 50%; }

/* MOBILE */
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-2up\.scss}line{font-family:\0000312}}
  .col-2up__column {
    float: none;
    width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-sidebar\.scss}line{font-family:\000031}}
.col-sidebar {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_mixins\.scss}line{font-family:\000033}}
  .col-sidebar:after {
    content: '';
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-sidebar\.scss}line{font-family:\000035}}
.col-sidebar__main {
  float: left;
  width: 70%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_col-sidebar\.scss}line{font-family:\0000310}}
.col-sidebar__sidebar {
  float: left;
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\000031}}
.callout {
  margin: 1em 0 2em;
  padding: 1.5em 0;
  border-left: 0.5em solid #c82533;
  background-color: #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\000039}}
  .callout.callout--youtube .callout__content {
    margin-left: 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000312}}
    .callout.callout--youtube .callout__content::before {
      content: '';
      left: -2.75em;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1.5em solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000325}}
  .callout.callout--music .callout__content {
    margin-left: 4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000328}}
    .callout.callout--music .callout__content::before {
      content: ' ';
      left: -3em;
      width: 2em;
      height: 2.5em;
      background: url(/img/music-note.png) no-repeat;
      background-size: 2em auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000343}}
.callout__content {
  position: relative;
  margin: .5em 1em .5em 2em;
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-size: 35px;
  line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000353}}
  .callout__content::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000358}}
.callout__link {
  font-weight: 300;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000362}}
  .callout__link:hover {
    color: #005580;
    text-decoration: underline; }

/* MOBILE */
@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000370}}
  .callout__content {
    font-size: 24px; } }
@media only screen and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_callout\.scss}line{font-family:\0000376}}
  .callout__content {
    font-size: 16px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_button\.scss}line{font-family:\000031}}
.button {
  font-family: 'Jester';
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 20px 0;
  padding: 20px 60px 20px 20px;
  border: 1px solid #000;
  background-color: #fcdf32;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_button\.scss}line{font-family:\0000321}}
  .button:after {
    content: ' ';
    position: absolute;
    top: 25%;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 30px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_button\.scss}line{font-family:\0000335}}
  .button:hover {
    color: #000;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_button\.scss}line{font-family:\0000340}}
  .button.button--small {
    margin: 0;
    padding: 10px 60px 10px 20px;
    font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_button\.scss}line{font-family:\0000346}}
    .button.button--small:after {
      top: 15%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\000031}}
.story {
  padding: 30px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\000035}}
.story__image {
  float: right;
  width: 150px;
  margin: 10px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000311}}
.story__title {
  font-family: 'Jester';
  text-transform: uppercase;
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000317}}
.story__title-link {
  color: #000;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none; }

/* MOBILE */
@media only screen and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000327}}
  .story {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000333}}
    .story:last-of-type {
      border-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000337}}
    .story p {
      text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_story\.scss}line{font-family:\0000341}}
  .story__image {
    float: none; } }
/* DESKTOP */
@media only screen and (min-width: 750px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\000033}}
  .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px; } }
/* MOBILE */
@media only screen and (max-width: 750px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\0000312}}
  .nav {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\0000315}}
    .header--menu-visible .nav {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\0000318}}
      .header--menu-visible .nav .nav__item {
        display: block;
        padding: 20px;
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\0000328}}
.nav__item {
  font-family: 'Jester';
  text-transform: uppercase;
  padding: 10px 20px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/components\/_nav\.scss}line{font-family:\0000338}}
  .nav__item.nav--selected {
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_header\.scss}line{font-family:\000031}}
.header {
  padding: 10px;
  border-bottom: 2px solid #000;
  background: #50bdfb;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_header\.scss}line{font-family:\0000310}}
.header__container {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_header\.scss}line{font-family:\0000314}}
.header__menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #08c;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase; }

/* MOBILE */
@media only screen and (max-width: 750px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_header\.scss}line{font-family:\0000332}}
  .header__menu {
    display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\000031}}
.footer {
  *zoom: 1;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  border-top: 2px solid #000;
  background: #50bdfb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/_mixins\.scss}line{font-family:\000033}}
  .footer:after {
    content: '';
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\0000314}}
.footer__social {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\0000319}}
.footer__social-link:hover .footer-social__icon {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\0000324}}
.footer__social-icon {
  opacity: .5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\0000328}}
.footer__copyright {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 34px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/partials\/_footer\.scss}line{font-family:\0000335}}
.footer__youtube {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\000031}}
.sheet-music__image {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\000035}}
.sheet-music__row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\0000311}}
.sheet-music__key {
  color: #999;
  font-style: italic;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\0000317}}
.sheet-music__range {
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\0000321}}
.sheet-music__price {
  margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\0000325}}
.sheet-music__info {
  padding-left: 20px; }

/* MOBILE */
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_sheet-music\.scss}line{font-family:\0000331}}
  .sheet-music__info {
    padding: 20px 0 0 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\000031}}
.soundtrack__image {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\000035}}
.soundtrack__featuring {
  color: #999;
  font-style: italic;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\0000311}}
.soundtrack__title {
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\0000315}}
.soundtrack__price {
  margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\0000319}}
.soundtrack__row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\0000325}}
.soundtrack__info {
  padding: 0 0 0 20px; }

/* MOBILE */
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stewartyu\/Code\/riverviewhighthemusical\/app\/_scss\/pages\/_soundtrack\.scss}line{font-family:\0000331}}
  .soundtrack__info {
    padding: 20px 0 0 0; } }
