header {
    position: relative;

    padding: 10px;
    border-bottom: 2px solid $black;

    background: $blue;

    transform-style: preserve-3d;

    nav {
        @include vertical-align(absolute);

        right: 20px;
    }
}

.header__logo {
    width: 200px;
}
