
.page-about {
    .content h2 {
        @include jester;

        margin-bottom: 20px;

        font-weight: bold;
        font-size: $xlarge-text;
    }

    .page-about__about .col-sidebar__main {
        padding-left: 20px;
    }

    .page-about__history {
        .col-sidebar__main {
            padding-right: 20px;
        }
    }
}
